<div class="modal-wrapper" id="add-user-modal">
    <div class="modal">
      <a href="#" onclick="closeModal()" class="modal-close">+</a>
      <div class="modal-title">
        <h2>Create New User</h2>
      </div>
      <div class="modal-body">
        <form 
        id="add-user-form",
        action="/users"
        method="post",
        enctype="multipart/form-data"
        >
          <input type="text" placeholder="enter name" name="name"/>
          <p class="error name-error"></p>
          
          <input type="text" placeholder="enter email" name="email"/>
          <p class="error email-error"></p>
          
          <input type="text" placeholder="enter mobile" name="mobile"/>
          <p class="error mobile-error"></p>
          
          <input type="password" placeholder="enter password" name="password"/>
          <p class="error password-error"></p>
          
          <input type="file" name="avatar" />
          <p class="error avatar-error"></p>
          
          <p class="error common-error"></p>

          <input type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </div>
  <script>
    const modal = document.querySelector("#add-user-modal");
    const form = document.querySelector('#add-user-form');

    //success toast
    const successToast = Toastify({
      text : "User was added! Reloading the list ...",
      duration : 1000
    })

    function closeModal() {
      modal.style.display = "none";
    }
    function openModal() {
      modal.style.display = "block";
    }

    //create a form handler function
    async function formSubmit (event){
    //stop rerender form
    event.preventDefault();
    //prepare form data
    const formData = new FormData(form);

    //error tag display none
    const allError = document.querySelectorAll('.error');
    allError.forEach((error)=>{
      error.style.display = 'none';
    })

    //get post json response
    let response = await fetch('./users', {
      method : 'POST',
      body : formData
    });

    //response convert json
    let data = await response.json() 
    
    //error display every field  
    if(data.errors){
      Object.keys(data?.errors).forEach((value)=>{
        const message = document.querySelector(`.${value}-error`);
        message.textContent = data.errors[value].msg;
        message.style.display = 'block';
      });
    }
    else{    
      successToast.showToast();
      closeModal();
  
      //reload the page after 1 sec
      setTimeout(()=>{
        location.reload();
      },1000)
    }
  }
  form.addEventListener('submit',formSubmit);

  </script>